<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- data-main attribute tells require.js to load
            scripts/main.js after require.js loads. -->
    <script data-main="lib/app" src="lib/require.js"></script>
</head>
<style>
    /* 可以设置不同的进入和离开动画 */
    /* 设置持续时间和动画函数 */
    .slide-fade-enter-active {
        transition: all 1.3s ease;
    }
    .slide-fade-leave-active {
        transition: all 1.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active for below version 2.1.8 */ {
        transform: translateX(50px);
        opacity: 0;
    }
</style>
<body>
<div id="demo">
    <button v-on:click="show = !show">
        Toggle
    </button>
    <transition name="fade">
        <p v-if="show">{{ hello }}</p>
    </transition>
</div>
<div id="example-1">
    <button @click="show = !show">
        Toggle render
    </button>
    <transition name="slide-fade">
        <p v-if="show">{{ hello }}</p>
    </transition>
</div>
<div class="content">
    <!--{{ hello }}-->
    <transition name="fade">
        <p v-if="show">{{ hello }}</p>
    </transition>
</div>
</body>
</html>